footer {
    background-color: var(--bg-gray);
    width: 100%;
    font-size: var(--body2);
}
.footer-container {
    display: flex;
}
#footer-top {
    padding: var(--offset);
}

#footer-top .footer--contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 100px;
}

#footer-top .footer--nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

#footer-top .footer--contact li a, #footer-top .footer--contact li {
    display: flex;
    gap: 10px;
    align-items: center;
}

#footer-top .footer--nav li {
    padding: 0 2rem;
    position: relative;
}

#footer-top .footer--nav li:not(:last-child) {
    border-right: 1px solid var(--line-gray);
}

@media screen and (max-width: 1080px) {
    .footer-container {
        flex-direction: column;
        align-content: center;
    }
}

@media screen and (max-width: 1080px) {
    #footer-top .footer--contact {
        align-items: flex-start;
        margin: auto;
        word-break: keep-all;
        padding-right: 0;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 750px) {
    #footer-top .footer--nav {
        display: none;
    }
}

#footer-bottom {
    opacity: 0.8;
    font-size: var(--caption);
    text-align: center;
    padding: var(--gutter);
}