<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 화면</title>
  </head>
  <body>
    <div>
      <form action="/reviews" method="get">
        <input type="hidden" id="sort" name="sort" value="{{sort}}">
        <select name="sort">
          <option value="recent">최신순</option>
          <option value="title" {% if sort == 'title' %}selected{% endif %}>제목이름순</option>
          <option value="star" {% if sort == 'star' %}selected{% endif %}>별점순</option>
          <option value="running" {% if sort == 'running' %}selected{% endif %}>상영시간순</option>
        </select>
        <button class="btn btn-primary" type="submit" value="save">정렬</button>
      
    </div>
    {% for review in reviews %}
    <div>
      <h1><a href="/reviews/{{review.id}}">{{review.title}}</a></h1>
      <p>{{review.year}}년</p>
      <p>{{review.genre}}</p>
      <p>{{review.star}} 점</p>
    </div>
    {% endfor %}

    <a href="/reviews/create">리뷰 작성하기</a>
  </body>
</html>